/*variables*/
$base-font-size: 16px;
$color-tinybeans-theme: #ff6753;
$color-tinybeans-bg: #f2f0eb;
$color-tinybeans-text: #2b3561;
$color-tinybeans-banner: #fffbe9;

$color-option1: #ff6753;
$color-option2: #979797;
$color-option3: #2b3561;
$color-option4: #ffd116;
$color-option5: #7ed7d0;